[tool.poetry]
name = "mfglib"
version = "0.1.1"
description = "A Library for Mean-Field Games"
authors = [
    "Xin Guo <xinguo@berkeley.edu>",
    "Anran Hu <anranhu0107@gmail.com>",
    "Matteo Santamaria <matteosantamaria@berkely.edu>",
    "Mahan Tajrobehkar <mahan_tajrobehkar@berkeley.edu>",  
    "Junzi Zhang <saslascroyale@gmail.com>",
]
readme = "README.md"
license = "MIT"
documentation = "https://mfglib.readthedocs.io/en/latest/"

[tool.poetry.dependencies]
python = "^3.8"
# torch = "^2.0.0"
optuna = "^3.1.0"
osqp = "^0.6.3"
numpy = ">=1.18.5,<1.26.0"

[tool.poetry.group.dev.dependencies]
isort = "5.12.0"
black = "23.3.0"
mypy = "1.2.0"
ruff = "0.0.261"
pytest = "7.3.0"
coveralls = "3.3.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "6.1.3"
sphinx-autobuild = "2021.3.14"
sphinxcontrib-bibtex = "2.5.0"
setuptools = "*"  # <-- required for sphinxcontrib-bibtex
matplotlib = "3.7.1"
jupyter_sphinx = "0.4.0"

[tool.isort]
profile = "black"

[tool.ruff]
select = ["D"]
ignore = ["D100", "D101", "D102", "D104"]
# We don't enforce docstrings in test functions
per-file-ignores = {"tests/test_*.py" = ["D103"]}

[tool.ruff.pydocstyle]
convention = "numpy"

[tool.mypy]
files = ["mfglib", "tests"]
show_error_codes = true
strict = true

[tool.pytest.ini_options]
testpaths = ["tests"]
filterwarnings = "error"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
