name: publish-to-pypi
on:
  push:
    tags:
      - v*.*.*
jobs:
  publish:
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - uses: snok/install-poetry@v1
      - run: |
          poetry --version
          poetry config pypi-token.pypi ${{ secrets.pypi_token }}
          poetry publish --build
